[submodule "xmonad/xmobar-git"]
	path = xmonad/xmobar-git
	url = https://codeberg.org/xmobar/xmobar.git
[submodule "xmonad/xmonad-contrib-git"]
	path = xmonad/xmonad-contrib-git
	url = https://github.com/xmonad/xmonad-contrib
[submodule "xmonad/xmonad-git"]
	path = xmonad/xmonad-git
	url = https://github.com/xmonad/xmonad
[submodule "xmonad/xmonad-utils"]
	path = xmonad/xmonad-utils
	url = https://github.com/LeifW/xmonad-utils
