[Unit]
Description=Proper Quassel shutdown (loses information if just stopped)
Wants=graphical.target
After=graphical.target

[Service]
ExecStart=-/usr/bin/true
ExecStop=/home/obreitwi/git/dotfiles_desktop/systemd/quassel_shutdown.sh
Type=oneshot
RemainAfterExit=yes

